{{ define "content" }}

<form action="signup_account" method="post">
  <p>Sign up for the account below</p>
  <input type="text" name="name" placeholder="Name" required autofocus>
  <input type="email" name="email" placeholder="Email address" required>
  <input type="password" name="password" placeholder="Password" required>
  <select name="role" id="sr">
    <option value="user">user</option>
    <option value="admin">admin</option>
  </select>
  <button type="submit">Sign in</button>
</form>

{{ end }}